/*          GEIMPORTEERDE FONTS
font-family: 'Bebas Neue', cursive;
font-family: 'Fleur De Leah', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Six Caps', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Bebas+Neue&family=Fleur+De+Leah&family=Julius+Sans+One&family=Montserrat&family=Playfair+Display+SC&family=Share+Tech+Mono&family=Six+Caps&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*          NAVBAR      */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header > h1{
    text-align: center;
    font-family: 'Fleur De Leah', cursive;
    letter-spacing: 3px;
}
header > nav > ul{
    width: 21rem;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
header > nav > ul > li{
    list-style: none;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: 'Share Tech Mono', monospace;
}
/*          IMAGES      */
.small-img{
    width: 125px;
}
.med-img{
    width: 96%;
}
.big-img{
    width: 100%;
}
/*          LAYOUT           */
main{
    padding: 5px 5px;
    font-family: 'Bebas Neue', cursive;
}
/*          TOP STORY       */
.top-story > h2{
    position: absolute;
    color: white;
    text-shadow: black 1px 0 10px;
}
/*          SINGLE BOX CONTENT */
.single-box{
 padding: 6px 0px;
 border-bottom: 1px solid grey;
}
.news-title-small{
   font-size: 16px;
   font-weight: 100;
}
/*         DOUBLE BOX CONTENT   */
.double-box{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}
.double-box > article{
    padding: 0px 3px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.double-box > article:nth-child(1){
    border-right: 1px solid grey;
}
.double-box-title{
    font-size: 16px;
    font-weight: 100;
}
/*          NIEUWSBRIEF     */
.nieuwsbrief{
    background: lavender;
    display:flex;
    flex-direction: column;
}
.nieuwsbrief-form{
    width: 90%;
}
.nieuwsbrief-btn{
    height: 30px;
    letter-spacing: 1px;
    padding: 3px 12px;
    border: none;
    text-align: center;
    background: steelblue;
    color: white;
    cursor: pointer;
}
.nieuwsbrief > a{
    color: steelblue;
    text-decoration: none;
    align-self: flex-end;
    padding: 3px 20px;
}
/*          SPANS IN NEWS   */  
.time-genre-wrapper{
    display: flex;
}
.time-genre-wrapper > span{
    padding: 0px 3px;
}
.time-genre-wrapper > span:nth-child(1){
    border-right: 1px solid grey;
}
/*          MOB TOGGLE CHOICE       */
.mob-toggle-btn-choice{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3px;
}
.mob-toggle-btn{
    width: 49%;
    background: none;
    border:none;
}
.mob-toggle-btn-inactive{
    color: grey;
    border-bottom: 4px solid grey;
}
.mob-toggle-btn-active{
    color: black;
    border-bottom: 4px solid black;
}
/*          WRAPPERS        */
.wrapper-vertical-content{
    display: flex;
    flex-direction: row;
}
.wrapper-horizontal-content{
    display: flex;
    flex-direction: column;
}
/* 
breakpoints zijn: 
mob 375px 
tablet 768px 
laptop 1280px 
desktop 1920px */