/*
*/
/*          NAVBAR      */
header > h1{
    text-align: center;
}
header > nav > ul{
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
header > nav > ul > li{
    list-style: none;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: black;
}
/*          IMAGES      */
.small-img{
    width: 125px;
}
.med-img{
    width: 96%;
}
.big-img{
    width: 100%;
}
/*          LAYOUT           */
main{
    padding: 5px 5px;
}
/*          TOP STORY       */
.top-story > h2{
    position: absolute;
    color: white;
    text-shadow: black 1px 0 10px;
}
/*          SINGLE BOX CONTENT */

/*         DOUBLE BOX CONTENT   */
.double-box{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 10px 0px;
    border-bottom: 1px solid grey;
}
.double-box > article{
    padding: 0px 3px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.double-box > article:nth-child(1){
    border-right: 1px solid grey;
}
/*          SPANS IN NEWS   */  
.time-genre-wrapper{
    display: flex;
}
.time-genre-wrapper > span{
    padding: 0px 3px;
}
.time-genre-wrapper > span:nth-child(1){
    border-right: 1px solid grey;
}
/*          MOB TOGGLE CHOICE       */
.mob-toggle-btn-choice{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 3px;
}
.mob-toggle-btn{
    width: 49%;
    background: none;
    border:none;
}
.mob-toggle-btn-inactive{
    color: grey;
    border-bottom: 4px solid grey;
}
.mob-toggle-btn-active{
    color: black;
    border-bottom: 4px solid black;
}

/* 
breakpoints zijn: 
mob 375px 
tablet 768px 
laptop 1280px 
desktop 1920px */